/* Стили для кнопки открытия формы */
button {
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Стили для всплывающей формы */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
}

/* Стили для формы внутри всплывающей формы */
.form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

/* Стили для кнопки отправки формы */
.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* Стили для кнопки закрытия формы */
.cancel {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* Стили для полей формы */
.form-group label {
    font-weight: bold;
}

.form-group input[type="title"],
.form-group input[type="price"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}
