<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-white bg-white" id="navbar">
    <div th:insert="~{fragments/menu :: #home}"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div th:insert="~{fragments/menu :: #admin}"></div>
            <div th:insert="~{fragments/menu :: #logout}"></div>
        </ul>
    </div>
</nav>
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <div class="row gy-5">
        <div class="col">
            <div class="card-group">
                <div class="card" style="padding: 60px">
                    <a th:href="@{/admin/users}" class="text-decoration-none">
                        <i class="material-icons" style="font-size: 100px">people</i>
                        <h5 class="card-title text-center">USERS</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-group">
                <div class="card" style="padding: 60px">
                    <a th:href="@{/admin/products}" class="text-decoration-none">
                        <i class="material-icons" style="font-size: 100px">store</i>
                        <h5 class="card-title text-center">PRODUCTS</h5>
                    </a>
                </div>
            </div>
        </div>
            <div class="col">
                <div class="card-group">
                    <div class="card" style="padding: 60px">
                        <a th:href="@{/admin/categories}" class="text-decoration-none">
                            <i class="material-icons" style="font-size: 100px">local_offer</i>
                            <h5 class="card-title text-center">CATEGORIES</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-group">
                    <div class="card" style="padding: 60px">
                        <a th:href="@{/admin/orders}" class="text-decoration-none">
                            <i class="material-icons" style="font-size: 100px">assignment</i>
                            <h5 class="card-title text-center">ORDERS</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>