<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game shop</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/menu :: #navbar}"></div>
<div class="container">
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <div class=" navbar-nav ml-auto">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="row gy-5">
        <div class="card-group mx-5 my-3" th:each="product : ${products}">
            <div class="card" style="width: 16rem;">
                <img th:src="${product.image}" class="card-img-top">
                <div class="card-body">
                    <a th:href="@{/product/{id}(id = ${product.id})}">
                        <h5 class="card-title" th:text="${product.title}">title</h5>
                    </a>
                    <p class="card-text" th:text="${product.description}">descript</p>
                    <p class="card-text text-right" th:text="${product.price}">price</p>
                    <form class="form-text text-center add-product-form" th:method="POST"
                          th:action="@{/{id}/bucket(id = ${product.id})}">
                        <input class="btn btn-outline-primary" type="submit" value="Add to bucket">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row gy-5 mx-5">
    <div class="col-md-3">
        <form action="#" th:action="@{/categories}" th:object="${categoryForm}" method="post">
            <div class="form-group">
                <label for="category">Category:</label>
                <div th:each="category : ${categories}">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:id="'category_' + ${category.id}" th:name="'categories[' + ${category.id} + '].selected'" th:checked="${categoryForm.categories[__${category.id}__].selected}" />
                        <label class="form-check-label" th:for="'category_' + ${category.id}" th:text="${category.name}"></label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Фильтровать</button>
        </form>
    </div>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" style="position: fixed; bottom: 0; right: 50px; z-index: 9999;">
    <div class="toast-header">
        <strong class="mr-auto">Notification</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        text
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/index.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>