<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<form th:action="@{/auth}" method="post">
      <td>Name:</td>
      <td><input type="text" name="username"></td>

      <td>Password:</td>
      <td><input type="password" name="password"></td>

  <button type="submit">Log in</button>
    </form>
<td><a th:href = "@{/register}">Register</a>
    <a th:href = "@{/}">Back to home</a></td>

</body>
</html>